{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}


{% block title %}
Student Survey January 2024
{% endblock %}

{% block content %}
    <input id="time" type="hidden" name="time_participantcode"/>
    <br>
<h2 class="german"> Teilnahmecode </h2><h2 class="english">  Participant Code</h2>
    <hr>




<div  class="mb-3 border pt-2 pb-2 px-2 ">
    <p class="german">Bitte geben Sie zunächst den Code, den Sie erhalten haben, in das Textfeld ein.</p>
    <p class="english">First, please enter the code you have received in the text box.</p>
</div>
<div class="alert alert-primary" role="alert" style="display: none"> {{ form.participantcode.errors }}  </div>
<div style="display:flex; flex-direction: row; justify-content: left; align-items: center"> {% formfield player.participantcode %}  </div>

<div  class="mb-3 border pt-2 pb-2 px-2 ">
    <p class="german">Jetzt können Sie zu anderen Personen im Raum gehen, die Sie persönlich kennen, und Ihre Codes austauschen. </p>
    <p class="german">Machen Sie sich eine Notiz von den Codes und den Namen der Personen. </p>
    <p class="english">Now you can go to other people in the room that you know personally and exchange your codes. </p> 
    <p class="english">Make a note of the codes and names of the people. </p>
    <br>
    <p class="german"><b> Hinweis: Bitte halten Sie die Notiz bis zum Semesterende griffbereit. Sie werden immer wieder danach gefragt.</b> </p>
    <p class="english"><b> Note: Please keep the note at hand until the end of the semester. You will be asked for it repeatedly.</b> </p>
</div>
<br>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>

{% endblock %}
