{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}
<br>
<div>
<h2 class="german"> Soziales Netzwerke</h2>
<h2 class="english"> Social Networks</h2>
<input id="time" type="hidden" name="time_leftright_selfassessment"/>

<div class="mb-3 border pt-2 pb-2 px-2 ">
                <h3 class="german"> In welcher Beziehungen stehen Sie zu den folgenden Personen?</h3>
                <h3 class="english"> What relation do you have towards the following persons?</h3>
                <p class="german"> Sie können mehrere Beziehungen für jede Personen angeben.</p>
                <p class="english"> You can select multiple relations for each person.</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <td></td>
                    <th><p class="english"> We are friends with each other.</p> <p class="german"> Wir sind miteinander befreundet.</p></th>
                    <th><p class="english"> I value and trust their opinion.</p> <p class="german"> Ich schätze und vertraue ihrer/seiner Meinung.</p></th>
                    <th><p class="english"> We dicuss politics with each other.</p> <p class="german"> Wir diskutieren zusammen über Politik.</p></th>
                    <th><p class="english"> We learn for the university together .</p> <p class="german"> Wir lernen zusammen für die Universität.</p></th>
                    <th><p class="english"> I know them through the Student Council.</p> <p class="german"> Ich kenne diese Person aus der Fachschaft.</p></th>
                </tr>
                </thead>
                <tbody>
                    {% if player.person_1 != "x" %}
                    <tr>
                        <th>{{ player.person_1 }}</th>
                        <th><input type="checkbox" name="friend_1" value="1"></th>
                        <th><input type="checkbox" name="value_1" value="1"></th>
                        <th><input type="checkbox" name="politics_1" value="1"></th>
                        <th><input type="checkbox" name="study_1" value="1"></th>
                        <th><input type="checkbox" name="council_1" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_2 != "x" %}
                    <tr>
                        <th>{{ player.person_2 }}</th>
                        <th><input type="checkbox" name="friend_2" value="1"></th>
                        <th><input type="checkbox" name="value_2" value="1"></th>
                        <th><input type="checkbox" name="politics_2" value="1"></th>
                        <th><input type="checkbox" name="study_2" value="1"></th>
                        <th><input type="checkbox" name="council_2" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_3 != "x" %}
                    <tr>
                        <th>{{ player.person_3 }}</th>
                        <th><input type="checkbox" name="friend_3" value="1"></th>
                        <th><input type="checkbox" name="value_3" value="1"></th>
                        <th><input type="checkbox" name="politics_3" value="1"></th>
                        <th><input type="checkbox" name="study_3" value="1"></th>
                        <th><input type="checkbox" name="council_3" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_4 != "x" %}
                    <tr>
                        <th>{{ player.person_4 }}</th>
                        <th><input type="checkbox" name="friend_4" value="1"></th>
                        <th><input type="checkbox" name="value_4" value="1"></th>
                        <th><input type="checkbox" name="politics_4" value="1"></th>
                        <th><input type="checkbox" name="study_4" value="1"></th>
                        <th><input type="checkbox" name="council_4" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_5 != "x" %}
                    <tr>
                        <th>{{ player.person_5 }}</th>
                        <th><input type="checkbox" name="friend_5" value="1"></th>
                        <th><input type="checkbox" name="value_5" value="1"></th>
                        <th><input type="checkbox" name="politics_5" value="1"></th>
                        <th><input type="checkbox" name="study_5" value="1"></th>
                        <th><input type="checkbox" name="council_5" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_6 != "x" %}
                    <tr>
                        <th>{{ player.person_6 }}</th>
                        <th><input type="checkbox" name="friend_6" value="1"></th>
                        <th><input type="checkbox" name="value_6" value="1"></th>
                        <th><input type="checkbox" name="politics_6" value="1"></th>
                        <th><input type="checkbox" name="study_6" value="1"></th>
                        <th><input type="checkbox" name="council_6" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_7 != "x" %}
                    <tr>
                        <th>{{ player.person_7 }}</th>
                        <th><input type="checkbox" name="friend_7" value="1"></th>
                        <th><input type="checkbox" name="value_7" value="1"></th>
                        <th><input type="checkbox" name="politics_7" value="1"></th>
                        <th><input type="checkbox" name="study_7" value="1"></th>
                        <th><input type="checkbox" name="council_7" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_8 != "x" %}
                    <tr>
                        <th>{{ player.person_8 }}</th>
                        <th><input type="checkbox" name="friend_8" value="1"></th>
                        <th><input type="checkbox" name="value_8" value="1"></th>
                        <th><input type="checkbox" name="politics_8" value="1"></th>
                        <th><input type="checkbox" name="study_8" value="1"></th>
                        <th><input type="checkbox" name="council_8" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_9 != "x" %}
                    <tr>
                        <th>{{ player.person_9 }}</th>
                        <th><input type="checkbox" name="friend_9" value="1"></th>
                        <th><input type="checkbox" name="value_9" value="1"></th>
                        <th><input type="checkbox" name="politics_9" value="1"></th>
                        <th><input type="checkbox" name="study_9" value="1"></th>
                        <th><input type="checkbox" name="council_9" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_10 != "x" %}
                    <tr>
                        <th>{{ player.person_10 }}</th>
                        <th><input type="checkbox" name="friend_10" value="1"></th>
                        <th><input type="checkbox" name="value_10" value="1"></th>
                        <th><input type="checkbox" name="politics_10" value="1"></th>
                        <th><input type="checkbox" name="study_10" value="1"></th>
                        <th><input type="checkbox" name="council_10" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_11 != "x" %}
                    <tr>
                        <th>{{ player.person_11 }}</th>
                        <th><input type="checkbox" name="friend_11" value="1"></th>
                        <th><input type="checkbox" name="value_11" value="1"></th>
                        <th><input type="checkbox" name="politics_11" value="1"></th>
                        <th><input type="checkbox" name="study_11" value="1"></th>
                        <th><input type="checkbox" name="council_11" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_12 != "x" %}
                    <tr>
                        <th>{{ player.person_12 }}</th>
                        <th><input type="checkbox" name="friend_12" value="1"></th>
                        <th><input type="checkbox" name="value_12" value="1"></th>
                        <th><input type="checkbox" name="politics_12" value="1"></th>
                        <th><input type="checkbox" name="study_12" value="1"></th>
                        <th><input type="checkbox" name="council_12" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_13 != "x" %}
                    <tr>
                        <th>{{ player.person_13 }}</th>
                        <th><input type="checkbox" name="friend_13" value="1"></th>
                        <th><input type="checkbox" name="value_13" value="1"></th>
                        <th><input type="checkbox" name="politics_13" value="1"></th>
                        <th><input type="checkbox" name="study_13" value="1"></th>
                        <th><input type="checkbox" name="council_13" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_14 != "x" %}
                    <tr>
                        <th>{{ player.person_14 }}</th>
                        <th><input type="checkbox" name="friend_14" value="1"></th>
                        <th><input type="checkbox" name="value_14" value="1"></th>
                        <th><input type="checkbox" name="politics_14" value="1"></th>
                        <th><input type="checkbox" name="study_14" value="1"></th>
                        <th><input type="checkbox" name="council_14" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_15 != "x" %}
                    <tr>
                        <th>{{ player.person_15 }}</th>
                        <th><input type="checkbox" name="friend_15" value="1"></th>
                        <th><input type="checkbox" name="value_15" value="1"></th>
                        <th><input type="checkbox" name="politics_15" value="1"></th>
                        <th><input type="checkbox" name="study_15" value="1"></th>
                        <th><input type="checkbox" name="council_15" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_16 != "x" %}
                    <tr>
                        <th>{{ player.person_16 }}</th>
                        <th><input type="checkbox" name="friend_16" value="1"></th>
                        <th><input type="checkbox" name="value_16" value="1"></th>
                        <th><input type="checkbox" name="politics_16" value="1"></th>
                        <th><input type="checkbox" name="study_16" value="1"></th>
                        <th><input type="checkbox" name="council_16" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_17 != "x" %}
                    <tr>
                        <th>{{ player.person_17 }}</th>
                        <th><input type="checkbox" name="friend_17" value="1"></th>
                        <th><input type="checkbox" name="value_17" value="1"></th>
                        <th><input type="checkbox" name="politics_17" value="1"></th>
                        <th><input type="checkbox" name="study_17" value="1"></th>
                        <th><input type="checkbox" name="council_17" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_18 != "x" %}
                    <tr>
                        <th>{{ player.person_18 }}</th>
                        <th><input type="checkbox" name="friend_18" value="1"></th>
                        <th><input type="checkbox" name="value_18" value="1"></th>
                        <th><input type="checkbox" name="politics_18" value="1"></th>
                        <th><input type="checkbox" name="study_18" value="1"></th>
                        <th><input type="checkbox" name="council_18" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_19 != "x" %}
                    <tr>
                        <th>{{ player.person_19 }}</th>
                        <th><input type="checkbox" name="friend_19" value="1"></th>
                        <th><input type="checkbox" name="value_19" value="1"></th>
                        <th><input type="checkbox" name="politics_19" value="1"></th>
                        <th><input type="checkbox" name="study_19" value="1"></th>
                        <th><input type="checkbox" name="council_19" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_20 != "x" %}
                    <tr>
                        <th>{{ player.person_20 }}</th>
                        <th><input type="checkbox" name="friend_20" value="1"></th>
                        <th><input type="checkbox" name="value_20" value="1"></th>
                        <th><input type="checkbox" name="politics_20" value="1"></th>
                        <th><input type="checkbox" name="study_20" value="1"></th>
                        <th><input type="checkbox" name="council_20" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_21 != "x" %}
                    <tr>
                        <th>{{ player.person_21 }}</th>
                        <th><input type="checkbox" name="friend_21" value="1"></th>
                        <th><input type="checkbox" name="value_21" value="1"></th>
                        <th><input type="checkbox" name="politics_21" value="1"></th>
                        <th><input type="checkbox" name="study_21" value="1"></th>
                        <th><input type="checkbox" name="council_21" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_22 != "x" %}
                    <tr>
                        <th>{{ player.person_22 }}</th>
                        <th><input type="checkbox" name="friend_22" value="1"></th>
                        <th><input type="checkbox" name="value_22" value="1"></th>
                        <th><input type="checkbox" name="politics_22" value="1"></th>
                        <th><input type="checkbox" name="study_22" value="1"></th>
                        <th><input type="checkbox" name="council_22" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_23 != "x" %}
                    <tr>
                        <th>{{ player.person_23 }}</th>
                        <th><input type="checkbox" name="friend_23" value="1"></th>
                        <th><input type="checkbox" name="value_23" value="1"></th>
                        <th><input type="checkbox" name="politics_23" value="1"></th>
                        <th><input type="checkbox" name="study_23" value="1"></th>
                        <th><input type="checkbox" name="council_23" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_24 != "x" %}
                    <tr>
                        <th>{{ player.person_24 }}</th>
                        <th><input type="checkbox" name="friend_24" value="1"></th>
                        <th><input type="checkbox" name="value_24" value="1"></th>
                        <th><input type="checkbox" name="politics_24" value="1"></th>
                        <th><input type="checkbox" name="study_24" value="1"></th>
                        <th><input type="checkbox" name="council_24" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_25 != "x" %}
                    <tr>
                        <th>{{ player.person_25 }}</th>
                        <th><input type="checkbox" name="friend_25" value="1"></th>
                        <th><input type="checkbox" name="value_25" value="1"></th>
                        <th><input type="checkbox" name="politics_25" value="1"></th>
                        <th><input type="checkbox" name="study_25" value="1"></th>
                        <th><input type="checkbox" name="council_25" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_26 != "x" %}
                    <tr>
                        <th>{{ player.person_26 }}</th>
                        <th><input type="checkbox" name="friend_26" value="1"></th>
                        <th><input type="checkbox" name="value_26" value="1"></th>
                        <th><input type="checkbox" name="politics_26" value="1"></th>
                        <th><input type="checkbox" name="study_26" value="1"></th>
                        <th><input type="checkbox" name="council_26" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_27 != "x" %}
                    <tr>
                        <th>{{ player.person_27 }}</th>
                        <th><input type="checkbox" name="friend_27" value="1"></th>
                        <th><input type="checkbox" name="value_27" value="1"></th>
                        <th><input type="checkbox" name="politics_27" value="1"></th>
                        <th><input type="checkbox" name="study_27" value="1"></th>
                        <th><input type="checkbox" name="council_27" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_28 != "x" %}
                    <tr>
                        <th>{{ player.person_28 }}</th>
                        <th><input type="checkbox" name="friend_28" value="1"></th>
                        <th><input type="checkbox" name="value_28" value="1"></th>
                        <th><input type="checkbox" name="politics_28" value="1"></th>
                        <th><input type="checkbox" name="study_28" value="1"></th>
                        <th><input type="checkbox" name="council_28" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_29 != "x" %}
                    <tr>
                        <th>{{ player.person_29 }}</th>
                        <th><input type="checkbox" name="friend_29" value="1"></th>
                        <th><input type="checkbox" name="value_29" value="1"></th>
                        <th><input type="checkbox" name="politics_29" value="1"></th>
                        <th><input type="checkbox" name="study_29" value="1"></th>
                        <th><input type="checkbox" name="council_29" value="1"></th>
                    </tr>
                    {% endif %}

                    {% if player.person_30 != "x" %}
                    <tr>
                        <th>{{ player.person_30 }}</th>
                        <th><input type="checkbox" name="friend_30" value="1"></th>
                        <th><input type="checkbox" name="value_30" value="1"></th>
                        <th><input type="checkbox" name="politics_30" value="1"></th>
                        <th><input type="checkbox" name="study_30" value="1"></th>
                        <th><input type="checkbox" name="council_30" value="1"></th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
</div>
</div>

<br>
   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>
{% endblock %}
