{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<style>
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 10px;
}

p, label {
    font-family: 'Verdana', sans-serif;
    color: #555;
    line-height: 1.5;
}

.mb-3 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    border-radius: 5px;
    padding: 15px;
    background: #f9f9f9; /* Light background for contrast */
}

input[type="radio"], input[type="text"] {
    margin-top: 5px;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.otree-btn-next {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    margin: 20px auto;
    width: fit-content;
}

.otree-btn-next:hover {
    background-color: #0056b3; /* Darker shade for hover */
    transform: scale(1.05);
}

div.german, div.english {
    margin: 5px 0;
}
</style>
{% endblock %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center;">
        <img width="50%" height="50%" src="{% static 'images/thankcat.webp' %}" />
    </div>

    <input id="time" type="hidden" name="time_endpage"/>
    <br>
    <hr>
        <p class="german">Sie haben die Umfrage abgeschlossen und können das Browserfenster nun schließen.</p>
        <p class="english">You have completed the survey and may now close the browser window.</p>
</div>
{% endblock %}
