{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey January WS 2024
{% endblock %}

{% block content %}
<br>
<hr>
    <input id="time" type="hidden" name="time_firstendpage"/>
    <br>

    <h4 class="german">Umfrage Feedback</h4>
    <p class="german">Falls es Fragen oder Anmerkungen gibt, Sie haben unser Ohr.</p>
    <h4 class="english">Survey Feedback</h4>
    <p class="english">If you have an questions or comments you have our attention.</p>
    <div class="form-group">
        {% formfield "feedback" %}
    </div>

    <h4 class="german">Ende der Umfrage</h4>
    <p class="german"> Vielen herzlichen Dank für Ihre Zeit und die Teilnahme an dieser Befragung! Bitte klicken Sie auf "Beenden", um die Umfrage zu beenden. </p>
    <h4 class="english"><em>End of the Survey</em></h4>
    <p class="english">Thank you very much for your time and participation in this survey! Please click "submit" to finish the survey. </p>
<br>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    <span class="german"> Beenden </span>
    <span class="english"> Submit </span>
</button>


{% endblock %}
