{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey January WS 2024
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_rnumber"/>
<br>
<h2 class="german"> Teilnahmecode  </h2> <h2 class="english"> Participantion Code</h2>
<hr>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <p class="german">Sie werden diesen 6-stelligen Code am ENDE DES SEMESTERS brauchen. Bitte notieren Sie sich die folgende Nummer oder machen Sie einen Screenshot. Sie dient als Beleg dafür, dass Sie an der Befragung teilgenommen haben und wird es ihnen erlauben ihre Bonuspunkte zu erhalten.</p>
    <p class="english">You will need this 6-number code at the END OF THE SEMESTER. Please write it down or take a screenshot. It serves as proof that you have particpiated in this survey and will allow you to claim your bonus points.</p>
          <b>{{ player.rnumber }}</b>
</div>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">

    <p class="german">Bitte geben Sie zur Sicherheit den Code, den Sie gerade erhalten haben, in das Textfeld ein.</p>
    <p class="english">In order to confirm, please enter the code you have just received in the text box.</p>
    <input type="number" name="rnumbercheck" required="" id="id_rnumbercheck" class="form-control">
    {{ formfield_errors 'rnumbercheck' }}

    <p class="german"> <span style="color: red;">Hinweis:</span> Bitte halten Sie die Notiz bis zum Semesterende griffbereit. Sie werden immer wieder danach gefragt.
    </p>
    <p class="english"> <span style="color: red;">Note:</span> Please keep the note at hand until the end of the semester. You will be asked for it again.
    </p>
</div>

<br>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>


{% endblock %}
