{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}

<br>      
<h2>{% if lang == 'german' %}Berufsabschluss des Vaters{% else %}Education Level Father{% endif %}</h2>
<hr>

<div class="mb-3 border pt-2 pb-2 px-2 ">
    <p>{% if lang == 'german' %}Abschluss der benötigt wird für den Beruf des Vaters.{% else %}Education level needed for the occupation of father.{% endif %}</p>
    
    <div>
        <input type="radio" name="level_father" value="0"> 
        {% if lang == 'german' %}Nicht Beschäftigt{% else %}Not employed{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="1"> 
        {% if lang == 'german' %}Kein Abschluss benötigt{% else %}No Formal Education needed{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="2"> 
        {% if lang == 'german' %}Mittlere Reife{% else %}Lower than High School{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="3"> 
        {% if lang == 'german' %}Abitur{% else %}High School{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="4"> 
        {% if lang == 'german' %}Bachlor oder Master (Diplom){% else %}Bachelors or Master{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="5"> 
        {% if lang == 'german' %}Dr. or Prof.{% else %}Dr. or Prof.{% endif %}
    </div>
    <div>
        <input type="radio" name="level_father" value="-999"> 
        {% if lang == 'german' %}Keine Angabe{% else %}No answer{% endif %}
    </div>
</div>

<br>
<h2>{% if lang == 'german' %}Berufsabschluss der Mutter {% else %}Education Level Mother{% endif %}</h2>
<hr>

<div class="mb-3 border pt-2 pb-2 px-2 ">
    <p>{% if lang == 'german' %}Abschluss der benötigt wird für den Beruf der Mutter.{% else %}Education level needed for the occupation of mother.{% endif %}</p>
    
    <div>
        <input type="radio" name="level_mother" value="0"> 
        {% if lang == 'german' %}Nicht Beschäftigt{% else %}Not employed{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="1"> 
        {% if lang == 'german' %}Kein Abschluss benötigt{% else %}No Formal Education needed{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="2"> 
        {% if lang == 'german' %}Mittlere Reife{% else %}Lower than High School{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="3"> 
        {% if lang == 'german' %}Abitur{% else %}High School{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="4"> 
        {% if lang == 'german' %}Bachlor oder Master (Diplom){% else %}Bachelors or Master{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="5"> 
        {% if lang == 'german' %}Dr. or Prof.{% else %}Dr. or Prof.{% endif %}
    </div>
    <div>
        <input type="radio" name="level_mother" value="-999"> 
        {% if lang == 'german' %}Keine Angabe{% else %}No answer{% endif %}
    </div>
</div>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    <span>{% if lang == 'german' %}Weiter{% else %}Next{% endif %}</span>
</button>

{% endblock %}
