{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}


{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}

<br>
<h2 class="english">Age</h2><h2 class="german">Alter</h2>
<input id="time" type="hidden" name="time_age"/>
<hr>
<div class="mb-3 border pt-2 pb-2 px-2">
    <p class="german"> Bitte geben Sie Ihr Alter in Jahren an.</p>
    <p class="english"> Please enter your age in years.</p>
    <input type="number" name="age" placeholder="Enter">
    {{ formfield_errors 'age' }}
</div>

<br>
<h2 class="english"> Gender</h2><h2 class="german"> Geschlecht</h2>
<hr>
<div class="mb-3 border pt-2 pb-2 px-2 ">
    <p class="german"> Mit welche der folgenden Kategorien identifizieren Sie sich selbst.</p>
    <p class="english"> Please indicate with which of the following categories you identify.</p>
    <div class="german"><input type="radio" name="gender" value="1"> Weiblich</div>
    <div class="english"><input type="radio" name="gender" value="1"> Female</div>
    <div class="german"><input type="radio" name="gender" value="2"> Männlich</div>
    <div class="english"><input type="radio" name="gender" value="2"> Male</div>
    <div class="german"><input type="radio" name="gender" value="3"> Divers</div>
    <div class="english"><input type="radio" name="gender" value="3"> Diverse</div>
    <div class="german"><input type="radio" name="gender" value="-999"> Keine Angabe</div>
    <div class="english"><input type="radio" name="gender" value="-999"> No answer</div>
</div>


   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>

{% endblock %}
