{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_vignett_app" />
<br>

<div class="english">
    A <strong>{{ player.part1 }}</strong> reported to <strong>{{ player.part6 }}</strong> parents that the instructor of
    a <strong>{{ player.part3 }}</strong> class in a <strong>{{ player.part4 }}</strong> <strong>{{ player.part10}}</strong>
    <strong>{{ player.part11 }}</strong>
    The parents alerted a parent
    representative to discuss with the <strong>{{ player.part4 }}</strong>’s director as well as the other
    representatives to prevent such an incident. The director refused to do anything since the <strong>{{ player.part3}}</strong> class was organized by an external <strong>{{ player.part3 }}</strong> school. Thereafter, all the
    other parents remained uninformed about this incident.
</div>
<br>
<div class="english">
    After several months, a child in the same <strong>{{ player.part4 }}</strong> was exposed to the same <strong>{{
        player.part8 }}</strong>.

    <strong>{{ player.part12 }}</strong> parents happened to hear about the incident during
    the <strong>{{ player.part3 }}</strong> class in the past and approached a member of the <strong>{{ player.part4}}</strong> management,
    who also met the instructor after the incident. Accordingly, the instructor admitted <strong>{{ player.part2}}</strong> behavior, but without any evil intention. Based on this, the <strong>{{ player.part4 }}</strong> saw
    the problem being solved and did not take any further actions. The parents of the <strong>{{ player.part7}}</strong> child asked the director to approach the <strong>{{ player.part3 }}</strong> school to correct the
    situation. However, <strong>{{ player.part9 }}</strong> refused to do it and asked them to talk with the <strong>{{player.part3 }}</strong> school for themselves.
</div>
<br>
<div class="english">
    In a meeting with the parents the <strong>{{ player.part3 }}</strong> school said that there was no such an incident
    and the instructor only stopped the children from making <strong>{{ player.part8 }}</strong> during the class. The
    director also said that there is a testimony of the instructor, which however they did not make available to the
    parents. <strong>{{ player.part5 }}</strong> further accused the parents of causing reputation damage based only on
    a statement of a <strong>{{ player.part1 }}</strong> several months ago.
</div>

<div class="german">
<strong>{{ player.g_age_child }}</strong>  berichtete <strong>{{ player.g_gender_child }}</strong>  Eltern, dass 
<strong>{{ player.g_gender_instructor_mapped_3 }}</strong> eines
<strong>{{ player.g_music_sport }}</strong> <strong>{{ player.g_school_mapped }}</strong>
<strong>{{ player.g_kind_of_abuse }}</strong><strong>{{ player.g_kind_of_abuse_mapped }}</strong> an den Tag gelegt habe. 
Die Eltern alarmierten einen Elternvertreter, um mit <strong>{{ player.g_director }}</strong>
<strong>{{ player.g_school_mapped_2 }}</strong> um mit den anderen Vertretern zu diskutieren, um diese Vorfälle in Zukunft zu verhindern.
<strong>{{ player.g_director_mapped }}</strong> weigerte sich, irgendetwas zu unternehmen, da der <strong>{{ player.g_music_sport_mapped }}</strong> von
einer externen <strong>{{ player.g_music_sport_mapped_2 }}</strong> organisiert wurde. Danach blieben alle anderen Eltern über diesen Vorfall
uninformiert.
</div>
<br>
<div class="german">
Nach mehreren Monaten wurde ein Kind <strong>{{ player.g_school_mapped_3 }}</strong> 
<strong>{{ player.g_kind_of_abuse_mapped_2 }}</strong> ausgesetzt. <strong>{{ player.g_gender_child_mapped }}</strong>
 Eltern erfuhren zufällig während des
 <strong>{{ player.g_music_sport }}</strong> von dem Vorfall und wandten sich an ein Mitglied der Schulleitung, das nach dem
Vorfall auch <strong>{{ player.g_music_sport }}</strong>  traf. Demnach gab <strong>{{ player.g_music_sport }}</strong>  Verhalten zu, allerdings
ohne böse Absicht. Auf dieser Grundlage sah <strong>{{ player.g_school_mapped_4 }}</strong> das Problem als gelöst und ergriff 
keine weiteren Maßnahmen. Die
Eltern des <strong>{{ player.g_kind_of_abuse_mapped_3 }}</strong> Kindes forderten 
<strong>{{ player.g_director_mapped_2 }}</strong> auf, sich an die <strong>{{ player.g_music_sport_mapped_2 }}</strong> zu 
wenden, um die Situation zu korrigieren. <strong>{{ player.g_director_mapped_3 }}</strong> lehnte dies jedoch ab und bat sie, selbst mit der
<strong>{{ player.g_music_sport_mapped_2 }}</strong> zu sprechen.
</div>
<br>
<div class="german">
Bei einem Treffen mit den Eltern erklärte die <strong>{{ player.g_music_sport_mapped_2 }}</strong>,
 dass es keinen solchen Vorfall gegeben habe und
die Lehrkraft die Kinder nur daran gehindert habe, während des Unterrichts 
<strong>{{ player.g_kind_of_abuse_mapped_4 }}</strong> Verhalten
aufzuzeigen. <strong>{{ player.g_gender_external_director }}</strong> sagte auch, dass es eine Aussage
 <strong>{{ player.g_gender_instructor_mapped_2 }}</strong> gebe, welche
den Eltern jedoch nicht zugänglich gemacht wurde. <strong>{{ player.g_gender_external_director_mapped }}</strong>warf den Eltern außerdem vor, dass sie eine Rufschädigung
verursacht hätten, einzig auf der Grundlage der Aussage eines <strong>{{ player.g_age_child_mapped }}</strong> Kindes vor 
einigen
Monaten.
</div>

<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    <span class="german"> Weiter </span>
    <span class="english"> Next </span>
</button>
{% endblock %}