{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_vignett_app" />
<br>

<div class="english">
    A <strong>{{ player.part1 }}</strong> reported to <strong>{{ player.part6 }}</strong> parents that the instructor of
    a <strong>{{ player.part3 }}</strong> class in their <strong>{{ player.part4 }}</strong> <strong>{{ player.part10}}</strong>
    <strong>{{ player.part11 }}</strong>.
    The parents alerted a parent
    representative to discuss with the <strong>{{ player.part4 }}</strong>’s director as well as the other
    representatives to prevent such an incident in the future. The director refused to do anything since the <strong>{{ player.part3}}</strong> class was organized by an external <strong>{{ player.part3 }}</strong> school. Thereafter, all the
    other parents remained uninformed about this incident.
</div>
<br>
<div class="english">
    After several months, a child in the same <strong>{{ player.part4 }}</strong> was exposed to the same <strong>{{
        player.part8 }}</strong>. <strong>{{ player.part12 }}</strong> parents happened to hear about the incident during
    the <strong>{{ player.part3 }}</strong> class in the past and approached a member of the <strong>{{ player.part4}}</strong> management,
    who also met the instructor after the incident. Accordingly, the instructor admitted <strong>{{ player.part2}}</strong> behavior, but without any evil intention. Based on this, the <strong>{{ player.part4 }}</strong> evaluated the
    the problem being solved and did not take any further actions. The parents of the <strong>{{ player.part7}}</strong> child asked the director to approach the <strong>{{ player.part3 }}</strong> school to correct the
    situation. However, <strong>{{ player.part9 }}</strong> refused to cooperate and asked them to talk with the <strong>{{player.part3 }}</strong> school themselves.
</div>
<br>
<div class="english">
    In a meeting with the parents the <strong>{{ player.part3 }}</strong> school said that there was no such incident
    and the instructor merely stopped the children from conducting <strong>{{ player.part8 }}</strong> during class. The
    director further admitted that there is a testimony of the instructor, which however they did not make available to the
    parents. <strong>{{ player.part5 }}</strong> further accused the parents of causing reputation damage based only on
    a statement of a <strong>{{ player.part1 }}</strong> several months ago.
</div>

<div class="german">
<strong>{{ player.g_age_child }}</strong>  berichtete <strong>{{ player.g_gender_child }}</strong>  Eltern, dass 
<strong>{{ player.g_gender_instructor_mapped_3 }}</strong> eines
<strong>{{ player.g_music_sport }}</strong> <strong>{{ player.g_school_mapped }}</strong>
<strong>{{ player.g_kind_of_abuse }}</strong><strong>{{ player.g_kind_of_abuse_mapped }}</strong> an den Tag gelegt habe. 
Die Eltern alarmierten einen Elternvertreter, um mit <strong>{{ player.g_director }}</strong>
<strong>{{ player.g_school_mapped_2 }}</strong> und den anderen Vertretern zu diskutieren, damit solche
 Vorfälle in Zukunft verhindert werden können.
<strong>{{ player.g_director_mapped }}</strong> weigerte sich, etwas zu unternehmen, da der <strong>{{ player.g_music_sport_mapped }}</strong> von
einer externen <strong>{{ player.g_music_sport_mapped_2 }}</strong> organisiert wurde. Nach diesen Ereignissen
 blieben alle anderen Eltern über diesen Vorfall
uninformiert.
</div>
<br>
<div class="german">
Mehreren Monate später wurde ein Kind <strong>{{ player.g_school_mapped_3 }}</strong> 
<strong>{{ player.g_kind_of_abuse_mapped_2 }}</strong> ausgesetzt. <strong>{{ player.g_gender_child_mapped }}</strong>
 Eltern erfuhren zufälligerweise von dem vergangenen Vorfall mit 
 der <strong>{{ player.g_music_sport }}</strong> und wandten sich an ein Mitglied der Schulleitung, das nach dem
Vorfall auch <strong>{{ player.g_gender_instructor }}</strong> traf. Demnach gab <strong>{{ player.g_gender_instructor_mapped }}</strong> 
Verhalten zu, allerdings ohne böse Absicht. Auf dieser Grundlage sah <strong>{{ player.g_school_mapped_4 }}</strong> das Problem als gelöst und ergriff 
keine weiteren Maßnahmen. Die
Eltern des <strong>{{ player.g_kind_of_abuse_mapped_3 }}</strong> Kindes forderten 
<strong>{{ player.g_director_mapped_2 }}</strong> auf, sich an die <strong>{{ player.g_music_sport_mapped_2 }}</strong> zu 
wenden, um die Situation aufzuklären. <strong>{{ player.g_director_mapped_3 }}</strong> lehnte dies jedoch ab und bat die Eltern, selbst mit der
<strong>{{ player.g_music_sport_mapped_2 }}</strong> zu sprechen.
</div>
<br>
<div class="german">
Bei einem Treffen mit den Eltern erklärte die <strong>{{ player.g_music_sport_mapped_2 }}</strong>,
 dass es keinen solchen Vorfall gegeben habe und
die Lehrkraft die Kinder nur daran gehindert habe, während des Unterrichts 
<strong>{{ player.g_kind_of_abuse_mapped_4 }}</strong> Verhalten
aufzuzeigen. <strong>{{ player.g_gender_external_director }}</strong> sagte auch, dass es eine Aussage
 <strong>{{ player.g_gender_instructor_mapped_2 }}</strong> gebe, welche
den Eltern jedoch nicht zugänglich gemacht wurde. <strong>{{ player.g_gender_external_director_mapped }}</strong> warf den Eltern außerdem vor, dass sie eine Rufschädigung
verursacht hätten, einzig auf der Grundlage der Aussage eines <strong>{{ player.g_age_child_mapped }}</strong> Kindes vor 
einigen
Monaten.
</div>

<br>
<div class="mb-3 border pt-2 pb-2 px-2">
    <p class="german"> Was denken Sie, nachdem Sie diese Geschichte gelesen haben? Hat {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt?</p>
    <p class="english"> Having read this story, what do you think of it? Did the instructor commit the {{ player.part8 }}?</p>

    <div class="german"><input type="radio" name="harassment" value="1"> {{ player.g_gender_instructor_mapped_4 }} hat {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt.</div>
    <div class="english"><input type="radio" name="harassment" value="1"> The instructor did the {{ player.part8 }}.</div>
    <div class="german"><input type="radio" name="harassment" value="2"> Es ist sehr wahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt hat.</div>
    <div class="english"><input type="radio" name="harassment" value="2"> It is very likely that the instructor did the {{ player.part8 }}.</div>
    <div class="german"><input type="radio" name="harassment" value="3"> Es ist eher wahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat. </div>
    <div class="english"><input type="radio" name="harassment" value="3"> It is rather likely that the instructor did the {{ player.part8 }}.    </div>
    <div class="german"><input type="radio" name="harassment" value="4"> Es ist eher unwahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat.</div>
    <div class="english"><input type="radio" name="harassment" value="4"> It is rather unlikely that the instructor did the {{ player.part8 }}.    </div>
    <div class="german"><input type="radio" name="harassment" value="5"> Es ist sehr unwahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat.</div>
    <div class="english"><input type="radio" name="harassment" value="5"> It is very unlikely that the instructor did the {{ player.part8 }}.</div>
    <div class="german"><input type="radio" name="harassment" value="6"> {{ player.g_gender_instructor_mapped_4 }} hat kein {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt.</div>
    <div class="english"><input type="radio" name="harassment" value="6"> The instructor did not do the {{ player.part8 }}.    </div>
    <div class="german"><input type="radio" name="harassment" value="-999"> Ich kann dazu nichts sagen.</div>
    <div class="english"><input type="radio" name="harassment" value="-999"> I can't say anything.</div>
</div>
<br>
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    <span class="german"> Weiter </span>
    <span class="english"> Next </span>
</button>
{% endblock %}