{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey January 2024
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_rnumber"/>
<br>
<h2 class="german"> Teilnahmecode  </h2> <h2 class="english"> Participantion Code</h2>
<hr>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <p class="german">Sie werden diesen 6-stelligen Code am ENDE DES SEMESTERS brauchen. Bitte notieren Sie sich die folgende Nummer oder machen Sie einen Screenshot. Sie dient als Beleg dafür, dass Sie an der Befragung teilgenommen haben und wird es ihnen erlauben ihre Bonuspunkte zu erhalten.</p>
    <p class="english">You will need this 6-number code at the END OF THE SEMESTER. Please write it down or take a screenshot. It serves as proof that you have particpiated in this survey and will allow you to claim your bonus points.</p>
          <b>{{ player.rnumber }}</b>
</div>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">

    <p class="german">Bitte geben Sie zunächst zur Sicherheit den Code, den Sie gerade erhalten haben, in das Textfeld ein.</p>
    <p class="english">First, please enter the code you have just received in the text box.</p>
    <input type="number" name="rnumbercheck" required="" id="id_rnumbercheck" class="form-control">
    {{ formfield_errors 'rnumbercheck' }}

    <p class="german"> <span style="color: red;">Hinweis:</span> Bitte halten Sie die Notiz bis zum Semesterende griffbereit. Sie werden immer wieder danach gefragt.
    </p>
    <p class="english"> <span style="color: red;">Note:</span> Please keep the note at hand until the end of the semester. You will be asked for it again.
    </p>
</div>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <h3 class="english"> Getting to know your Network </h3> <h3 class="german"> Lerne dein Netzwerk kennen </h3>
    <p class="german">Jetzt können Sie zu anderen Personen im Raum gehen, die Sie persönlich kennen, und Ihre 3-Buchstaben Sozial-IDs austauschen. Das Urteil darüber ob sie mit einander bekannt sind bleibt ihnen überlassen. Machen Sie sich eine Notiz mit den überprüften Sozial-IDs und den Namen der Personen für die Fragen zum sozialen Netzwerk später in der Befragung.
    </p>
    <p class="english">Now you can go to other people in the room that you know personally and exchange your 3-letter social codes. The judgement whether you know each other is up to you. After double checking make a note of the other social codes and the names of the people for the network questions later in the survey.
    </p>
</div>

<br>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>


{% endblock %}
