{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey January 2024
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_endpage"/>
<br>
<h2> Student Survey January 2024 </h2>
<hr>
<p class="german">Vielen Dank für die Teilnahme!</p>
    <p class="english">Thank you for your participation!</p>
    <p class="german">Sie haben die Umfrage abgeschlossen und können das Browserfenster nun schließen.</p>
    <p class="english">You have completed the survey and may now close the browser window.</p>

{% endblock %}
