{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block title %}
Student Survey November 2022
{% endblock %}

{% block content %}
<input id="time" type="hidden" name="time_political_qs"/>
<br>
<h2 class="english">Further Questions about Politics</h2><h2 class="german">Weitere Fragen zur Politik</h2>
<hr>

<div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <p class="german">Wie sehr stimmen Sie den folgenden Aussagen zu oder nicht zu?</p>

        <p class="english">How strongly do you agree or disagree with the following statements? </p>
        <div class="table">
            <table class="table">
                <thead>
                <tr>
                    <td></td>
                    <th style="vertical-align: top"><p class="german mb-0">Stimme voll und ganz zu</p><p class="english mb-0">Completely Agree</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Stimme zu</p><p class="english mb-0">Agree</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Weder noch</p><p class="english mb-0">Neither agree nor disagree</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Stimme nicht zu</p><p class="english mb-0">Disagree</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Stimme überhaupt nicht zu</p><p class="english mb-0">Completely Disagree</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Weiß nicht</p><p class="english mb-0">Don't know</p></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="font-weight:normal"> <span class="german"> Wichtige Fragen zur Bundespolitik in Deutschland kann ich gut verstehen und einschätzen.</span>
                            <span class="english">I am able to understand important questions regarding federal politics in Germany.</span> </th>
                            <th><input type="radio" name="politics_question_one" value="5"></th>
                            <th><input type="radio" name="politics_question_one" value="4"></th>
                            <th><input type="radio" name="politics_question_one" value="3"></th>
                            <th><input type="radio" name="politics_question_one" value="2"></th>
                            <th><input type="radio" name="politics_question_one" value="1"></th>
                            <th><input type="radio" name="politics_question_one" value="-888"></th>
                    </tr>
                    <tr>
                        <th style="font-weight:normal"> <span class="german">Die Abgeordneten des deutschen Bundestages bemühen sich um einen engen Kontakt zur Bevölkerung.</span>
                            <span class="english">The members of the German parliament strive to keep in close touch with the people.</span></th>
                                <th><input type="radio" name="politics_question_two" value="5"></th>
                                <th><input type="radio" name="politics_question_two" value="4"></th>
                                <th><input type="radio" name="politics_question_two" value="3"></th>
                                <th><input type="radio" name="politics_question_two" value="2"></th>
                                <th><input type="radio" name="politics_question_two" value="1"></th>
                                <th><input type="radio" name="politics_question_two" value="-888"></th>
                    </tr>
                    <tr>
                        <th style="font-weight:normal"><span class="german">Ich traue mir zu, mich an einem Gespräch über politische Fragen zur Bundespolitik aktiv zu beteiligen.</span>
                            <span class="english">I have the confidence to take active part in a discussion about issues regarding federal politics.</span></th>
                                <th><input type="radio" name="politics_question_three" value="5"></th>
                                <th><input type="radio" name="politics_question_three" value="4"></th>
                                <th><input type="radio" name="politics_question_three" value="3"></th>
                                <th><input type="radio" name="politics_question_three" value="2"></th>
                                <th><input type="radio" name="politics_question_three" value="1"></th>
                                <th><input type="radio" name="politics_question_three" value="-888"></th>
                    </tr>
                    <tr>
                        <th style="font-weight:normal"><span class="german">Die Abgeordneten des deutschen Bundestages kümmern sich darum, was Leute wie ich denken.</span>
                            <span class="english">The members of the German parliament care about what people like me think.</span></th>
                                <th><input type="radio" name="politics_question_four" value="5"></th>
                                <th><input type="radio" name="politics_question_four" value="4"></th>
                                <th><input type="radio" name="politics_question_four" value="3"></th>
                                <th><input type="radio" name="politics_question_four" value="2"></th>
                                <th><input type="radio" name="politics_question_four" value="1"></th>
                                <th><input type="radio" name="politics_question_four" value="-888"></th>
                    </tr>
                    <tr>
                        <th style="font-weight:normal"><span class="german">In schwierigen Situationen kann ich mich auf meine Fähigkeiten verlassen.</span>
                            <span class="english">In difficult situations, I can trust my capabilities.</span></th>
                                <th><input type="radio" name="politics_question_five" value="5"></th>
                                <th><input type="radio" name="politics_question_five" value="4"></th>
                                <th><input type="radio" name="politics_question_five" value="3"></th>
                                <th><input type="radio" name="politics_question_five" value="2"></th>
                                <th><input type="radio" name="politics_question_five" value="1"></th>
                                <th><input type="radio" name="politics_question_five" value="-888"></th>
                    </tr>
                    <tr>
                        <th style="font-weight:normal"><span class="german">Die meisten Probleme kann ich aus eigener Kraft gut meistern.</span>
                            <span class="english">I can cope with most problems myself.</span></th>
                                <th><input type="radio" name="politics_question_six" value="5"></th>
                                <th><input type="radio" name="politics_question_six" value="4"></th>
                                <th><input type="radio" name="politics_question_six" value="3"></th>
                                <th><input type="radio" name="politics_question_six" value="2"></th>
                                <th><input type="radio" name="politics_question_six" value="1"></th>
                                <th><input type="radio" name="politics_question_six" value="-888"></th>
                               

                    </tr>
                    <tr>
                        <th style="font-weight:normal"><span class="german">Auch anstrengende und komplizierte Aufgaben kann ich in der Regel gut lösen.</span>
                            <span class="english">In general, I can solve challenging and complex tasks.</span></th>
                                <th><input type="radio" name="politics_question_seven" value="5"></th>
                                <th><input type="radio" name="politics_question_seven" value="4"></th>
                                <th><input type="radio" name="politics_question_seven" value="3"></th>
                                <th><input type="radio" name="politics_question_seven" value="2"></th>
                                <th><input type="radio" name="politics_question_seven" value="1"></th>
                                <th><input type="radio" name="politics_question_seven" value="-888"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<br>
   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
       <span class="german"> Weiter </span>
       <span class="english"> Next </span>
   </button>
{% endblock %}
