{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">

{% endblock %}

{% block title %}
Student Survey - University Konstanz
{% endblock %}

{% block content %}
<!--time stamp-->
<div class="table">
    <input id="time" type="hidden" name="time_scaloparty"/>


        <div  class="mb-3 bg-light border pt-2 pb-2 px-2 ">
            <!--instructions-->
            <p class="german">Was halten Sie ganz allgemein von den folgenden einzelnen Parteien? Benutzen Sie dafür bitte die untenstehende Skala 
                von -5 bis +5 mit einem Nullpunkt in der Mitte. +5 bedeutet, dass Sie sehr viel von der Partei halten; -5 bedeutet, dass Sie überhaupt 
                nichts von der Partei halten. Mit den Werten dazwischen können Sie Ihre Meinung abstufen.</p>
            <p class="english">How much do you like or dislike each of the following parties? Please use the scale below ranging from -5 to +5 with 0 
                indicating the middle. +5 means that you strongly like the party; -5 means that you strongly dislike the party. Choose the numbers in 
                between to grade your statement.</p>
            
            <!--table-->
            <div class="table">
                <table class="table">
                    <thead>
                    <tr>
                        <td></td>
                        <th><p class="german">-5: Starke Abneigung</p><p class="english">-5: Strong Dislike</p></th>
                        <th><p>-4</p></th>
                        <th><p>-3</p></th>
                        <th><p>-2</p></th>
                        <th><p>-1</p></th>
                        <th><p>0</p></th>
                        <th><p>1</p></th>
                        <th><p>2</p></th>
                        <th><p>3</p></th>
                        <th><p>4</p></th>
                        <th><p class="german">5: Starke Zuneigung</p><p class="english">5: Strong Like</p></th>
                        <th style="vertical-align: top"><p class="german mb-0">Keine Angabe</p><p class="english mb-0">No answer</p></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="font-weight:normal"> <span>CDU</span></th>
                            <th><input type="radio" name="scalo_cdu" value="-5"></th>
                            <th><input type="radio" name="scalo_cdu" value="-4"></th>
                            <th><input type="radio" name="scalo_cdu" value="-3"></th>
                            <th><input type="radio" name="scalo_cdu" value="-2"></th>
                            <th><input type="radio" name="scalo_cdu" value="-1"></th>
                            <th><input type="radio" name="scalo_cdu" value="0"></th>
                            <th><input type="radio" name="scalo_cdu" value="1"></th>
                            <th><input type="radio" name="scalo_cdu" value="2"></th>
                            <th><input type="radio" name="scalo_cdu" value="3"></th>
                            <th><input type="radio" name="scalo_cdu" value="4"></th>
                            <th><input type="radio" name="scalo_cdu" value="5"></th>
                            <th><input type="radio" name="scalo_cdu" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>CSU</span></th>
                            <th><input type="radio" name="scalo_csu" value="-5"></th>
                            <th><input type="radio" name="scalo_csu" value="-4"></th>
                            <th><input type="radio" name="scalo_csu" value="-3"></th>
                            <th><input type="radio" name="scalo_csu" value="-2"></th>
                            <th><input type="radio" name="scalo_csu" value="-1"></th>
                            <th><input type="radio" name="scalo_csu" value="0"></th>
                            <th><input type="radio" name="scalo_csu" value="1"></th>
                            <th><input type="radio" name="scalo_csu" value="2"></th>
                            <th><input type="radio" name="scalo_csu" value="3"></th>
                            <th><input type="radio" name="scalo_csu" value="4"></th>
                            <th><input type="radio" name="scalo_csu" value="5"></th>
                            <th><input type="radio" name="scalo_csu" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>SPD</span></th>
                            <th><input type="radio" name="scalo_spd" value="-5"></th>
                            <th><input type="radio" name="scalo_spd" value="-4"></th>
                            <th><input type="radio" name="scalo_spd" value="-3"></th>
                            <th><input type="radio" name="scalo_spd" value="-2"></th>
                            <th><input type="radio" name="scalo_spd" value="-1"></th>
                            <th><input type="radio" name="scalo_spd" value="0"></th>
                            <th><input type="radio" name="scalo_spd" value="1"></th>
                            <th><input type="radio" name="scalo_spd" value="2"></th>
                            <th><input type="radio" name="scalo_spd" value="3"></th>
                            <th><input type="radio" name="scalo_spd" value="4"></th>
                            <th><input type="radio" name="scalo_spd" value="5"></th>
                            <th><input type="radio" name="scalo_spd" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>Grüne</span></th>
                            <th><input type="radio" name="scalo_gruene" value="-5"></th>
                            <th><input type="radio" name="scalo_gruene" value="-4"></th>
                            <th><input type="radio" name="scalo_gruene" value="-3"></th>
                            <th><input type="radio" name="scalo_gruene" value="-2"></th>
                            <th><input type="radio" name="scalo_gruene" value="-1"></th>
                            <th><input type="radio" name="scalo_gruene" value="0"></th>
                            <th><input type="radio" name="scalo_gruene" value="1"></th>
                            <th><input type="radio" name="scalo_gruene" value="2"></th>
                            <th><input type="radio" name="scalo_gruene" value="3"></th>
                            <th><input type="radio" name="scalo_gruene" value="4"></th>
                            <th><input type="radio" name="scalo_gruene" value="5"></th>
                            <th><input type="radio" name="scalo_gruene" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>FDP</span></th>
                            <th><input type="radio" name="scalo_fdp" value="-5"></th>
                            <th><input type="radio" name="scalo_fdp" value="-4"></th>
                            <th><input type="radio" name="scalo_fdp" value="-3"></th>
                            <th><input type="radio" name="scalo_fdp" value="-2"></th>
                            <th><input type="radio" name="scalo_fdp" value="-1"></th>
                            <th><input type="radio" name="scalo_fdp" value="0"></th>
                            <th><input type="radio" name="scalo_fdp" value="1"></th>
                            <th><input type="radio" name="scalo_fdp" value="2"></th>
                            <th><input type="radio" name="scalo_fdp" value="3"></th>
                            <th><input type="radio" name="scalo_fdp" value="4"></th>
                            <th><input type="radio" name="scalo_fdp" value="5"></th>
                            <th><input type="radio" name="scalo_fdp" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>Linke</span></th>
                            <th><input type="radio" name="scalo_linke" value="-5"></th>
                            <th><input type="radio" name="scalo_linke" value="-4"></th>
                            <th><input type="radio" name="scalo_linke" value="-3"></th>
                            <th><input type="radio" name="scalo_linke" value="-2"></th>
                            <th><input type="radio" name="scalo_linke" value="-1"></th>
                            <th><input type="radio" name="scalo_linke" value="0"></th>
                            <th><input type="radio" name="scalo_linke" value="1"></th>
                            <th><input type="radio" name="scalo_linke" value="2"></th>
                            <th><input type="radio" name="scalo_linke" value="3"></th>
                            <th><input type="radio" name="scalo_linke" value="4"></th>
                            <th><input type="radio" name="scalo_linke" value="5"></th>
                            <th><input type="radio" name="scalo_linke" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>AfD</span></th>
                            <th><input type="radio" name="scalo_afd" value="-5"></th>
                            <th><input type="radio" name="scalo_afd" value="-4"></th>
                            <th><input type="radio" name="scalo_afd" value="-3"></th>
                            <th><input type="radio" name="scalo_afd" value="-2"></th>
                            <th><input type="radio" name="scalo_afd" value="-1"></th>
                            <th><input type="radio" name="scalo_afd" value="0"></th>
                            <th><input type="radio" name="scalo_afd" value="1"></th>
                            <th><input type="radio" name="scalo_afd" value="2"></th>
                            <th><input type="radio" name="scalo_afd" value="3"></th>
                            <th><input type="radio" name="scalo_afd" value="4"></th>
                            <th><input type="radio" name="scalo_afd" value="5"></th>
                            <th><input type="radio" name="scalo_afd" value="-999"></th>
                        </tr>
                        <tr>
                            <th style="font-weight:normal"> <span>BSW</span></th>
                            <th><input type="radio" name="scalo_bsw" value="-5"></th>
                            <th><input type="radio" name="scalo_bsw" value="-4"></th>
                            <th><input type="radio" name="scalo_bsw" value="-3"></th>
                            <th><input type="radio" name="scalo_bsw" value="-2"></th>
                            <th><input type="radio" name="scalo_bsw" value="-1"></th>
                            <th><input type="radio" name="scalo_bsw" value="0"></th>
                            <th><input type="radio" name="scalo_bsw" value="1"></th>
                            <th><input type="radio" name="scalo_bsw" value="2"></th>
                            <th><input type="radio" name="scalo_bsw" value="3"></th>
                            <th><input type="radio" name="scalo_bsw" value="4"></th>
                            <th><input type="radio" name="scalo_bsw" value="5"></th>
                            <th><input type="radio" name="scalo_bsw" value="-999"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div> 

    <!--Next button-->
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>

</div>
{% endblock %}
